.title {
	text-align: center;
	padding-bottom: 150px;
}

.search-form {
	text-align: center;
}

.main-search {
	width: 300px;
	height: 30px;
	font-size: 20px;
	margin-right: 5px;
	border: 1px solid black;
}

.drop-button {
	cursor: pointer;
	height: 35px;
	font-size: 20px;
	border: 1px solid black;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #FAFAFA;
}

.dropdown-content a {
	display: block;
	padding: 12px 16px;
	text-decoration: none;
	color: black;
}

.dropdown-content a:hover {
	background-color: #BDBDBD;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.main-submit {
	width: 100px;
	height: 35px;
	font-size: 20px;
	border: 1px solid black;
}

.results {
	display: block;
}

.appendCocktail {
	list-style: none;
	text-align: center;
}
